/* Colour Scheme Variables */
:root{
    --rich-black: #01161eff;
    --midnight-green: #124559ff;
    --air-force-blue: #598392ff;
    --ash-gray: #aec3b0ff;
    --beige: #eff6e0ff;
}

/* Content on Screen */
body{
    background-color: var(--air-force-blue);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

h1{
    color: var(--rich-black);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 1.8s steps(30, end) forwards, blinking 1s infinite;
    font-weight: 400;
    letter-spacing: 0.10em;
    font-size: 3em;
    /*font-size: xx-large;*/
}

a{
    visibility: hidden;
    color: var(--beige);
    text-decoration: none;
    animation: showNav 1s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    letter-spacing: 0.15em;
    font-size: 1.5em;
    text-decoration: none;
    /*font-size: x-large;*/
}

a::after{
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    text-decoration: relative;
    text-decoration-color: var(--beige);
}

a:hover::after,
a:focus::after {
    transform: scale(1);
}

a:hover{
    color: var(--ash-gray);
}


/* Class Containers */
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-text{
    width: max-content;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: Outfit;
}

.content-nav{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
}

/* Typing Animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% { border-right-color: transparent }
    50% { border-right-color: var(--rich-black) }
    100% { border-right-color: transparent }
}

/* Display Nav bar after typing finished */
@keyframes showNav {
    0% { opacity: 0;}
    100% {
        visibility: visible;
        opacity: 1; 
    }
}
