/* Colour Scheme Variables */
:root {
    --rich-black: #01161eff;
    --midnight-green: #124559ff;
    --air-force-blue: #598392ff;
    --ash-gray: #aec3b0ff;
    --beige: #eff6e0ff;
}

body{
    background-color: var(--air-force-blue);
}

h1{
    color: var(--rich-black);
}