/* Colour Scheme Variables */
:root {
    --rich-black: #01161eff;
    --midnight-green: #124559ff;
    --air-force-blue: #598392ff;
    --ash-gray: #aec3b0ff;
    --beige: #eff6e0ff;

    scroll-behavior: smooth;
}

body {
    font-family: Outfit;
}

.vertical-hr {
    border-left: 3px solid var(--ash-gray);
    height: 100%;
    margin: 0 20px;
}
h1 {
    font-size: 2.8em;
    letter-spacing: 0.15em;
}

h3 {
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--midnight-green);
    text-shadow: 2px 2px 3px var(--ash-gray);
}

p {
    text-align: center;
    font-size: larger;
    color: var(--rich-black);
}

hr {
    border: none;
    height: 3px;
    width: 95%;
    margin: 3%;
    background-color: var(--ash-gray);
    border-radius: 10px;
}

#alex-link{
    text-decoration: none;
    color: var(--midnight-green)
}

#wordle-link{
    text-decoration: none;
    color: var(--air-force-blue)
}

#alex-link:hover, #wordle-link:hover{
    text-decoration: underline;
}

/* Navigation buttons */
.nav-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--ash-gray);
    border-radius: 25px 25px 0 0;
    padding: 15px;
    top: 0;
}

.zoom-button {
    font-family: Outfit;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    color: var(--midnight-green);
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
}

.zoom-button:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out 0.05s text-decoration-color 300ms;
    text-decoration-color: var(--midnight-green);
}

/* Project 1 Styles */
#project1 {
    background-color: var(--beige);
    padding: 25px;
}

.project1-imgs {
    width: 250px;
    height:550px;
}

#project1-title{
    color: var(--ash-gray);
    text-shadow: 2px 2px 3px var(--air-force-blue);
}

#project1-main-img {
    padding-left: 10%;
}

#project1-main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    padding-bottom: 2%;
}

#project1-summary {
    text-align: center;
    padding: 50px;
    align-content: center;
    flex: 1;
    min-width: 300px;
}

#project1-description {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#project1-timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project1-timeline-descriptions {
    max-width: min-content;
}

/* Project 2 Styles */
#project2 {
    background-color: var(--air-force-blue);
    text-align: center;
    padding: 25px;
}

.project2-imgs{
    border-radius: 10px;
}

#project2-title {
    margin-top: 0;
    text-align: left;
    color: var(--beige);
    text-shadow: 2px 2px 3px var(--rich-black);
}

#project2-summary{
    margin-top: 3%;
    margin-bottom: 3%;
}

.project2-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: var(--beige);
}

#project2-conclusion {
    display: flex;
    margin: 3%;
}

#project2-conclusion-text {
    padding: 2%;
    margin: auto;;
}

/* Wordle Project styles */
#wordle {
    background-color: var(--rich-black);
    padding: 25px;
    border-radius:  0 0 25px 25px;
}

#wordle-title{
    color: var(--beige);
    text-shadow: 2px 2px 3px var(--midnight-green);
    text-align: center;
}

.motto {
    color: var(--air-force-blue);
    text-align: center;
    text-decoration: wavy;
    margin: 0;
    font-size: medium;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.motto:hover {
    opacity: 1;
    cursor: pointer;
}

.wordle-span {
    background-color: #787c7f;
    margin: 5px;
    padding: 1%;
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
}

.green {
    background-color: #6ca965;
    margin: 5px;
    padding: 1%;
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
}

.yellow {
    background-color: #c8b653;
    margin: 5px;
    padding: 1%;
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
}

.wordle-description {
    color: var(--ash-gray);
    align-content: center;
    flex: 1;
    padding: 2%;
}

.wordle-technical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wordle-technical-descriptions {
    max-width: min-content;
    padding: 2%;
}

.wordle-imgs {
    width: 300px;
    height: 400px;
}

.ewPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Back to top button */
.top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    font-size: 15px;
    background-image: linear-gradient(var(--rich-black), var(--midnight-green));
    color: var(--beige);
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    opacity: 0.5;
}

.top:hover{
    opacity: 0.8;
}


/* Media Queries for responsive design */
@media (max-width: 804px) {
    #project1-main, #project2-conclusion {
        flex-direction: column;
        align-items: center;
    }

    #project1-main-img {
        margin-left: 0%;
        margin-bottom: 20px;
        padding-left: 0;
    }

    #project1-summary {
        padding: 15px;
    }

    #project2-conclusion img {
        margin-top: 20px;
        width: 80%;
    }
}
