/* Colour Scheme Variables */
:root{
    --rich-black: #01161eff;
    --midnight-green: #124559ff;
    --air-force-blue: #598392ff;
    --ash-gray: #aec3b0ff;
    --beige: #eff6e0ff;
}

/*navigation buttons*/
.nav-buttons{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    justify-content: space-between;
}

.zoom-button{
    font-family: Outfit;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    color: var(--midnight-green);
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);

}

.zoom-button:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out 0.05s text-decoration-color 300ms;
    text-decoration-color: var(--midnight-green);
}

/*Resume outline (div sections and overall look)*/
#resume-square{
    margin-top: 50px;
    max-width: 75%;
    min-width: 40%;
    height: auto;
    overflow: hidden;
    margin-inline: auto;
    box-shadow: -10px -15px 50px 4px var(--air-force-blue);
    display: flex;
    align-items: stretch;
    margin-bottom: 8em;
}

#resume-leftsquare{ /*Green, left section of the resume*/
    max-width: 35%;
    min-width: 5%;
    background-color: var(--beige);
    float: left;
}

#main-resume{ /*(Right, white section of the resume*/
    max-width: 65%;
    min-width: 10%;
    float: right;
}

/*top right section div*/
#uOttawa-logo{
    height: 195px;
}

/*Actual uOttawa image*/
#uOttawa-image{
    width: 40%;
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Line under uOttawa image*/
.resume-separator{
    width: 80%;
}

/*Divs for sections of the main resume content that need additional space after them*/
.resume-section{
    margin-bottom: 15px;
}

.empty-space{
    height: 2em;
}

/*Resume contents*/

/*Main title (name)*/
h1{
    font-size: 5em;
    letter-spacing: 0.05em;
    font-weight: 60em;
    font-family: Outfit;
    padding-left: 5%;
    color: var(--midnight-green);
    margin: 0;
    text-shadow: -2px -1px var(--rich-black), 1px 2px var(--rich-black), 2px 1px var(--rich-black), -1px -2px var(--rich-black);
}

/*Subtitles*/
h2{
    font-size: 2em;
    letter-spacing: 0.05em;
    font-family: Outfit;
    padding-left: 5%;
    padding-top: 10px;
    margin: 0;
}

.left-section-title{
    color: var(--rich-black); 
}

.main-resume-section-title{
    color: var(--air-force-blue);
    font-weight: normal;
}

/*Resume lists and text*/
.left-side-list{
    padding-right: 5%;
}

ul, p{
    font-family: Outfit;
    color: var(--rich-black);
    margin: 2px 0px 0px 2px;
}

.main-resume-list{
    padding-left: 11%;
    padding-right: 5%;
}

p{
    padding-left: 8%;
}

.year{
    padding-left: 5%;
}
